version 5.176.6

source https://api.nuget.org/v3/index.json
framework: netcoreapp2.0,netstandard1.6,netstandard2.0,net45
storage:none

nuget Expecto
nuget FSharp.Core ~> 4.0
nuget FSharp.Data prerelease

// Build infrastructure
group build
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: netcoreapp2.0

    nuget FSharp.Core ~> 4.0
    nuget Fake.Core.Target
    nuget Fake.Core.Environment
    nuget Fake.Core.Process
    nuget Fake.Core.Trace
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.UserInput
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Tools.Git
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.DotNet.MsBuild
    nuget Fake.DotNet.Paket
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.Api.GitHub

    github vbfox/FoxSharp src/BlackFox.FoxSharp/CommandLine.fs
