source https://api.nuget.org/v3/index.json
framework: net10.0,netcoreapp2.0,netstandard2.0,net461
storage:none

nuget Expecto ~> 11
nuget FSharp.Core
nuget FSharp.Data prerelease

// Build infrastructure
group build
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: net10.0

    nuget FSharp.Core
    nuget BlackFox.Fake.BuildTask
    nuget BlackFox.CommandLine

    nuget Octokit
    nuget Fake.Core.Target
    nuget Fake.Core.Environment
    nuget Fake.Core.Process
    nuget Fake.Core.Trace
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.UserInput
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Tools.Git
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.DotNet.MsBuild
    nuget Fake.DotNet.Paket
    nuget Fake.BuildServer.GitHubActions
    nuget Fake.Api.GitHub
